body{
    margin: 0 auto;
    width: 100%;
    height: 100%;
  
}
ul{
    padding: 0px!important;
}
.menu-pricipal{
    width: 100%;
    background-color:#252323;
    height: 60px;
}
main, .content{ /*o main vai estilizar toda a pagina / o contente a parte embaixo do banner*/
    margin: 0 auto;
    width: 980px;
    position: relative;
}

.col-100{
    width: 100%;
    float: left;
    position: relative;
    border: 1px solid #00bac6;
    
}

/*CORPO DO SITE*/
.text-destaque{
    text-align: center;
}

.text-destaque h1{
    text-transform: uppercase;
    color: #818181;   
    font-size: normal;
    font-family: Arial, Helvetica, sans-serif
}

.text-destaque h2{
    text-transform:capitalize;
    color: #818181;   
    font-family: Arial, Helvetica, sans-serif
}

.text-destaque strong{
    color: #646464;
   
  
}

.text-destaque p{
    color: #9a9a9a;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif
}

/* HEADER 1 -  LOGO E MIDIAS SOCIAIS*/
.logo{
    float: left;
    padding: 16px;
    width: 70%;
}
.rede-sociais ul li {
    display: inline-block;
    margin-left: 15px;
    float: left;
    list-style: none;
}
.rede-sociais{
    width: 25%;
    float: right;
}

/* HEADER 2* - MENUS*/
.header-2{
    background-color:#ffffff;
    width:980px;
    margin: 0 auto;
    padding: 16px;
    height: 49px;

   
}
.menu-urls{
    height: 80px;
    border-bottom: 3px solid #00bac6 ;
   
}
.menu ul li {
    display: inline-block;
    color: #8b8b8b;
    margin-left: 15px ;
    
    
}
.menu ul li:hover{
    color: #f78008;
    border-bottom: 6px solid #f78008;
}
.menu ul li a {
    color: #8b8b8b;
    text-decoration: none;
    font-size: 18px;    
}
.menu{
    float: left;
    width: 70%;
}

/*BOX DE BUSCA*/
.search{
    text-align: center;
    float: right;
    width: 30%;

}
.search input{
    background-image: url('../img/search.png');
    background-repeat: no-repeat;
    background-position:90%;
    height: 36px;
    padding: 12px;
    width: 190px;
    margin-top: 10px;   
    border: 1px solid #d6d6d6;
}/*end- box de busca*/



/*setas Esquerda < */
button.slick-prev{
    font-size: 0px;
    border: none;
    width: 29px;
    height: 53px;
    z-index: 9;
    background-color: transparent;
    position: absolute;
    background-image: url('../img/arrow_previous.png');
    top:35%;
    left: 14%; /*vai mover a seta < para perto do centro*/
}
/*setas Direita >*/
button.slick-next{
    font-size: 0px;
    border: none;
    width: 29px;
    height: 53px;
    z-index: 9;
    background-color: transparent;
    position: absolute;
    background-image: url('../img/arrow_next.png');
    top:35%;
    right: 14%; /*vai mover a seta > para perto do centro*/
}

.slick-initialized{
    overflow: hidden; /*retira a barra de rolagem em baixo devido a contem 3 imagens ela estava infinita*/
}
.slick-list{
    width: 100%!important;
}


/*BOLINHAS NA PARTE DE BAIXO DA FOTO */

.slick-dots li button {/*estilizar todos os pontos */
        font-size: 0px;
        border: 4px solid #ffffff;
        width: 18px;
        height: 18px;
        background: transparent;
        border-radius: 50%;
        cursor: pointer;
}

.slick-dots{ /*posicao dos pontos coloridos) */
    margin: 0px auto;
    width: 50%;
    position: absolute; /*ele nao vai seguir padrao da div pai*/
    left: 48%; 
    top: 87%; /*distancia from o top da pagina*/
  }

  li.slick-active button{/*pegue o li que tenha um class active, e dentro desta class style o botao*/
    background: #00bac6;
    
}

.slick-dots li { 
    display: inline-block;/*deixa os pontos um ao lado do outro*/
    padding-left: 10px; /* vai distanciar os pontos*/

}

/*TEXTO PRINCIPAL*/
/*<div> que estao as imagens do computador, note e foto*/

/**/

.col-3{/*deixar as <div> uma ao lado da outra / O tamanho da div 979.99x180.24*/
    padding-left: 15px; /*vai dar um espacamento entro o texto*/
    padding-right: 15px; 
    width: 29%; /*sao 3 <div>, entao 100% dividido por 3* entao cada div vai ter 33.3% de largura, porem colocamos um pouco menor para caber os 3 na mesma linha com o pandding*/
    float: left;
    position: relative;
   
}

.bloco-text{
    margin-top: 2em; /*distancia as 3 imagens do texto principal*/
}

.bloco-text2{
    margin-top: 4em; /*distancia as 3 imagens do texto principal*/
}


/*BLOCO IMAGENS*/
.bloco-imagem img {
    margin: 0 auto;
    width: 100%;
    height: auto;
}
.bloco-imagem {
    height: 300px;
    border: 1px solid #00bac6;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-left: 10px;
}
.bloco-imagem b, p {
    text-align: left;
}
.bloco-texto {
    margin-top: 3em;
}

.bloco-imagens-texto {
    background-color: #eeeeee;
}
.bloco-imagens-texto:before { /*triangulo no backgroud das fotos*/
    width: 100%;
    display: inline-block;
    content: '';
    height: 49px;
    background: #ffffff;
    background-image: url('../img/setinha.png');
    background-repeat: no-repeat;
    background-position: center;
}
.bloco-imagens-texto:after {
    width: 100%;
    display: inline-block;
    content: '';
    height: 70px;
    background: #eeeeee;
} 

/*BLOCOS LOGOS*/

.bloco-logos {
    height: 170px;/*altura da div que vai ficar as logos*/
}

.bloco-logos img {
    margin-top: 50px;
}

    /*css de das imagens da logo*/
.col-4 {
    float: left;
    width: 25%;
    text-align: center;
}
.col-4 img {
 cursor: pointer; /*vai colocar um mazinha em cima quando passar o mouse*/

 padding-top: 1em;
 vertical-align: middle;
}
.col-4 img:hover {
    margin-top: 10px!important;
    position: relative!important;
}

.footer{
    background-color: #505251;
    height: 326px;
}

.rede-sociais-footer{
    background-color: #292622;
    width: 100%;
    
    
}

.rede-sociais-footer ul li{
    float: right;
    margin-left: 15px;
  
}
